<dialog>
    <div class="dialog">
    <h1>Telefonliste<span class="button">X</span></h1>
    <p>
        Dieses Projekt stellt eine Tabelle mit Namen/Gebäuden, 
        Telefonnummern und anderen Kontaktinformationen von 
        BBZ-Dithmarschen dar. Hier finden Sie eine kurze Anleitung 
        zu allen Funktionen dieser Tabelle.
    </p>
    <h2>Für reguläre Benutzer</h2>
    <p>
        Auf der Hauptseite des Blogs haben Sie die Möglichkeit, 
        Daten mit einer Reihe von einfachen und kompatiblen Filtern 
        anzusehen, die nur erdacht werden können.
    </p>
    <p>
        Filter nach Stadt: Um Daten nur für eine Stadt anzuzeigen, 
        lassen Sie einfach eine Checkbox deaktiviert. Wenn Sie 
        beide Checkboxen oder keine auswählen, werden alle Ergebnisse 
        angezeigt.
    </p>
    <p>
        Spaltenfilter: Um einen Filter von A-Z oder Z-A für eine bestimmte 
        Spalte anzuwenden, klicken Sie auf diese Spalte.
    </p>
    <p>
        Suche: Um einen bestimmten Eintrag in der Tabelle zu finden, geben 
        Sie einfach einen Wert in das Suchfeld ein. Die Suche wird in allen 
        Spalten durchgeführt.
    </p>
    <p>
        Durch Klicken auf den Wert in der Zelle Nummer können Sie den Wert 
        in die Zwischenablage kopieren.
    </p>
    <h2>Für Sekretärinnen</h2>
    <p>
        Die Tabelle kann einfach bearbeitet werden, indem Sie auf den Link 
        „Bearbeiten“ auf der Hauptseite klicken. Sie müssen Ihre Anmeldedaten 
        angeben und gelangen danach zur Hauptseite der Tabellenbearbeitung. 
        Lassen Sie uns die gesamten Funktionen der Reihe nach betrachten.
    </p>
    <h3>Importieren</h3>
    <p>
        Daten können einfach importiert werden, indem Sie eine Stadt auswählen, 
        in die alle Daten eingefügt werden sollen (z. B. Heide oder Meldorf), 
        eine Excel-Datei mit den Einträgen auswählen und auf die Schaltfläche 
        „Importieren“ klicken. Die Daten werden dann in die Tabelle importiert.
    </p>
    <p><strong>
        Wichtig! Denken Sie daran, dass die Datei nur eine Tabelle enthalten 
        darf, aus der die Daten importiert werden. In der Tabelle müssen 
        unbedingt die Spalten „Name/Bezeichnung“, „Nummer“, „Funktion“, „Gebäude“, 
        „Raumnummer“ vorhanden sein. Wenn diese fehlen, wird der Import nicht 
        erfolgreich sein!
    </strong></p>
    <p>
        Nach der erfolgreichen Importbenachrichtigung können wir unsere Tabellen 
        mit den Daten betrachten. Insgesamt gibt es drei Tabellen: „Städte“, 
        „Gebäude“, „Einträge“. Wir betrachten alles am Beispiel der Tabelle „Einträge“.
    </p>
    <h3>Anzeige</h3>
    <p>
        Um die Tabelle „Einträge“ anzusehen, klicken Sie einfach darauf in der 
        oberen Leiste. Danach werden Sie zur Tabelle weitergeleitet, in der Sie 
        alle Ihre Einträge sehen können.
    </p>
    <p>
        Im Punkt „Liste“ wird die Gesamtzahl der Einträge angezeigt. Auf der Seite ist 
        eine feste Anzahl von Einträgen, aber wir können durch die Seiten 
        navigieren, indem wir auf die Seitenschaltflächen unten auf der Seite klicken.
    </p>
    <p>
        Um nach bestimmten Spalten zu suchen, geben Sie einfach Ihre Anfrage in das 
        Suchfeld ein und klicken Sie auf „Suchen“. Einträge, die mit der Suchanfrage 
        übereinstimmen, werden in der Tabelle angezeigt.
    </p>
    <p>
        Außerdem haben wir Spaltenfilter. Wenn Sie auf eine Spalte klicken, die blau 
        hervorgehoben ist, werden die Einträge in aufsteigender oder absteigender 
        Reihenfolge der ausgewählten Spalte gefiltert.
    </p>
    <h3>Erstellen</h3>
    <p>
        Einträge können einfach über die Schaltfläche „Erstellen“ in der Tabellenleiste 
        erstellt werden. Sie werden auf ein Formular weitergeleitet, in dem Sie alle 
        Werte eingeben und bestimmte Werte aus der Liste auswählen können. Pflichtfelder 
        sind mit einem roten Stern markiert.
    </p>
    <p>
        Um ein Gebäude in „Einträge“ hinzuzufügen, müssen Sie das Gebäude zuerst in der 
        Tabelle „Gebäude“ erstellen. Danach ist das Gebäude in der Liste zur Erstellung 
        in der Tabelle „Einträge“ verfügbar.
    </p>
    <h3>Bearbeiten</h3>
    <p>
        Einträge zu ändern ist einfach. Neben jedem Eintrag befindet sich ein Stiftsymbol. 
        Wenn Sie darauf klicken, sehen Sie das bereits bekannte Formular, das jedoch 
        bereits ausgefüllt ist. Dies ist Ihr Eintrag. Nehmen Sie die erforderlichen 
        Änderungen vor und speichern Sie sie. Fertig :)
    </p>
    <h3>Löschen</h3>
    <p>
        Es gibt mehrere Möglichkeiten, Einträge zu löschen. Die erste und einfachste Methode 
        ist, auf das Mülleimersymbol neben jedem Eintrag zu klicken. Wenn Sie darauf klicken, 
        werden Sie gefragt, ob Sie den ausgewählten Eintrag wirklich löschen möchten. 
        Nach Bestätigung wird der Eintrag dauerhaft gelöscht.
    </p>
    <p>
        Die zweite Methode ermöglicht es, mehrere Einträge gleichzeitig zu löschen. Neben 
        jedem Eintrag befindet sich ein Kontrollkästchen. Wählen Sie mehrere Einträge aus 
        und klicken Sie dann auf die Schaltfläche „Mit Auswahl“ und wählen Sie „Löschen“.
    </p>
    <h2>Über das Projekt</h2>
    <p>
        Das Projekt wurde von Nikita erstellt. Alle Vorschläge zur Verbesserung können an 
        <a href="mailto:Nikita.Lupalo@bbz-dithmarschen.de">Nikita.Lupalo@bbz-dithmarschen.de</a> 
        gesendet werden.
    </p>
    <div class="copyright">© Nikita - 2025</div>
    </div>
</dialog>