<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://www.bbz-dithmarschen.de/fileadmin/images/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <title>BBZ-Dithmarschen Telefone Tabelle</title>
</head>
<body>
    <div class="header">
        <form class="form">
            <div class="form-group">
                <div class="form-group">
                    <input class="checkbox" type="checkbox" id="checkbox-1" data-filter="Heide" onchange="changeDisplay()" checked>
                    <label for="checkbox-1">Heide</label>
                </div>
                <div class="form-group">
                    <input class="checkbox" type="checkbox" id="checkbox-2" data-filter="Meldorf" onchange="changeDisplay()" checked>
                    <label for="checkbox-2">Meldorf</label>
                </div>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Suchen..." onkeyup="search(this)">
            </div>
        </form>
        <a href="{{ url_for('admin.index') }}">Edit</a>
    </div>
    <table id="table">
        <thead>
            <tr>
                <th>Name/Bezeichnung</th>
                <th>Nummer</th>
                <th>Funktion</th>
                <th>Gebäude</th>
                <th>Raumnummer</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr class="entry" data-filter="{{ entry.city }}">
                <td>{{ entry.name }}</td>
                <td>{{ entry.nummer }}</td>
                <td>{{ entry.funktion }}</td>
                <td>{{ entry.gebaeude }}</td>
                <td>{{ entry.raumnummer }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<script src="{{ url_for('static', filename='filtering.js') }}"></script>
<script src="{{ url_for('static', filename='header.js') }}"></script>
</html>